/* Header.css */

/* 상단 고정 헤더 */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 10000; /* 항상 최상단 */
}

/* 로고 */
.header-logo {
  height: 100px;
  cursor: pointer;
}

/* 헤더 메뉴 왼쪽 */
.header-nav-left a {
  margin-right: 25px;
  font-size: 17px;
  color: #333;
  text-decoration: none;
}

.header-nav-left a:hover {
  color: #0096ff;
}

/* 헤더 오른쪽 */
.header-nav-right a {
  font-size: 17px;
  color: #333;
}

.logout-button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 17px;
}

.logout-button:hover {
  text-decoration: underline;
}
