/* MyTravelPage.css */

.mytravel-header {
  text-align: center;
  margin-bottom: 40px;
}

.mytravel-content-area {
  min-height: 300px;
  border: 2px solid #90caf9;
  border-radius: 10px;
  padding: 30px;
}

.mytravel-placeholder {
  opacity: 0.6;
  text-align: center;
  margin-top: 50px;
  font-size: 17px;
}
