/* 공통 버튼 스타일 */
.searchplace-btn {
  flex: 1;
  padding: 10px;
  margin: 0 5px;

  border: none;
  border-radius: 8px;

  color: white;
  font-weight: bold;

  cursor: pointer;
}

/* 맛집 버튼 (오렌지) */
.searchplace-btn.restaurant {
  background: #FF9800;
}

/* 관광명소 버튼 (초록) */
.searchplace-btn.tour {
  background: #4CAF50;
}
